<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GEODE_blank00_00_01-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{100, 103}</string>
			<key>spriteSourceSize</key>
			<string>{100, 103}</string>
			<key>textureRect</key>
			<string>{{104, 2}, {100, 103}}</string>
		</dict>
		<key>GEODE_blank00_01_02-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{148, 151}</string>
			<key>spriteSourceSize</key>
			<string>{148, 151}</string>
			<key>textureRect</key>
			<string>{{662, 2}, {148, 151}}</string>
		</dict>
		<key>GEODE_blank00_00_02-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{100, 103}</string>
			<key>spriteSourceSize</key>
			<string>{100, 103}</string>
			<key>textureRect</key>
			<string>{{308, 2}, {100, 103}}</string>
		</dict>
		<key>GEODE_blank00_00_04-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{100, 103}</string>
			<key>spriteSourceSize</key>
			<string>{100, 103}</string>
			<key>textureRect</key>
			<string>{{560, 2}, {100, 103}}</string>
		</dict>
		<key>GEODE_blank00_01_00-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{148, 151}</string>
			<key>spriteSourceSize</key>
			<string>{148, 151}</string>
			<key>textureRect</key>
			<string>{{410, 2}, {148, 151}}</string>
		</dict>
		<key>GEODE_blank00_00_00-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{100, 103}</string>
			<key>spriteSourceSize</key>
			<string>{100, 103}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {100, 103}}</string>
		</dict>
		<key>GEODE_blank00_00_03-uhd.png</key>
		<dict>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{100, 103}</string>
			<key>spriteSourceSize</key>
			<string>{100, 103}</string>
			<key>textureRect</key>
			<string>{{206, 2}, {100, 103}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>